/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/
/*******************************************************************************
 * Themes
 ******************************************************************************/
:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: rgba(181, 9, 172, 0.05);
  --global-text-color: #000000;
  --global-text-color-light: #828282;
  --global-theme-color: #B509AC;
  --global-hover-color: #B509AC;
  --global-footer-bg-color: #1C1C1D;
  --global-footer-text-color: #e8e8e8;
  --global-footer-link-color: #ffffff;
  --global-distill-app-color: #828282;
  --global-divider-color: rgba(0,0,0,.1);
  --global-year-color: rgba(0,0,0,.3);
  --global-card-bg-color: #ffffff;
}
:root .fa-sun {
  display: none;
}
:root .fa-moon {
  padding-left: 10px;
  padding-top: 12px;
  display: block;
}
:root .repo-img-light {
  display: block;
}
:root .repo-img-dark {
  display: none;
}

html[data-theme=dark] {
  --global-bg-color: #1C1C1D;
  --global-code-bg-color: #2c3237;
  --global-text-color: #e8e8e8;
  --global-text-color-light: #e8e8e8;
  --global-theme-color: #7bcce4;
  --global-hover-color: #7bcce4;
  --global-footer-bg-color: #e8e8e8;
  --global-footer-text-color: #1C1C1D;
  --global-footer-link-color: #000000;
  --global-distill-app-color: #e8e8e8;
  --global-divider-color: #424246;
  --global-year-color: #797980;
  --global-card-bg-color: #212529;
}
html[data-theme=dark] .fa-sun {
  padding-left: 10px;
  padding-top: 12px;
  display: block;
}
html[data-theme=dark] .fa-moon {
  display: none;
}
html[data-theme=dark] .repo-img-light {
  display: none;
}
html[data-theme=dark] .repo-img-dark {
  display: block;
}

/******************************************************************************
 * Content
 ******************************************************************************/
body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  scroll-margin-top: 66px;
}

body.fixed-top-nav {
  padding-top: 56px;
}

body.sticky-bottom-footer {
  padding-bottom: 0;
}

.container {
  max-width: 800px;
}

.profile img {
  width: 100%;
  float: right;
  margin-bottom: 1rem;
}

/******************************************************************************
 * Publications
 ******************************************************************************/
/*****************************************************************************
* Projects
*****************************************************************************/
/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/
p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  color: var(--global-text-color);
}

#super {
  vertical-align: super;
  font-size: 0.5rem;
}

h6i {
  display: inline;
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

table td, table th {
  color: var(--global-text-color);
}
table td {
  font-size: 1rem;
}

a, table.table a {
  color: var(--global-theme-color);
}
a:hover, table.table a:hover {
  color: var(--global-theme-color);
  text-decoration: underline;
}
a:hover:after :not(.nav-item.dropdown), table.table a:hover:after :not(.nav-item.dropdown) {
  width: 100%;
}

figure, img {
  max-width: 90vw;
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.35em 0.5em;
  font-size: 1.2rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote p:first-child {
  margin-top: 0;
}

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card {
  background-color: var(--global-card-bg-color);
}
.card img {
  width: 100%;
}
.card .card-title {
  color: var(--global-text-color);
}
.card .card-item {
  width: auto;
  margin-bottom: 10px;
}
.card .card-item .row {
  display: flex;
  align-items: center;
}

.citation, .citation-number {
  color: var(--global-theme-color);
}

.profile {
  width: 100%;
}
.profile .address {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: monospace;
}
.profile .address p {
  display: inline-block;
  margin: 0;
}

.profile.float-right {
  margin-left: 1rem;
}

.profile.float-left {
  margin-right: 1rem;
}

@media (min-width: 576px) {
  .profile {
    width: 30%;
  }
  .profile .address p {
    display: block;
  }
}
.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}
.post-description a {
  color: inherit;
}
.post-description a:hover {
  color: var(--global-theme-color);
  text-decoration: none;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--global-divider-color);
  background-color: var(--global-bg-color);
  opacity: 0.95;
}

.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);
}
.navbar .dropdown-menu a:not(.active) {
  color: var(--global-text-color);
}
.navbar .dropdown-menu a:hover {
  color: var(--global-hover-color);
}
.navbar .dropdown-menu .dropdown-divider {
  border-top: 1px solid var(--global-divider-color) !important;
}

.dropdown-item {
  color: var(--global-text-color);
}
.dropdown-item:hover {
  color: var(--global-hover-color);
  background-color: var(--global-bg-color);
}

.navbar.navbar-light a:hover {
  text-decoration: none;
}
.navbar.navbar-light .navbar-brand {
  color: var(--global-text-color);
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: var(--global-text-color);
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: var(--global-hover-color);
}
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: inherit;
  font-weight: bolder;
  color: var(--global-theme-color);
}
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover {
  color: var(--global-hover-color);
}
.navbar.navbar-light .navbar-brand.social {
  font-size: 1.25rem;
  text-align: right;
  margin: 0;
}
.navbar.navbar-light .navbar-brand.social li {
  display: inline;
}
.navbar.navbar-light .navbar-brand.social a i::before {
  color: var(--global-text-color);
  transition-property: all 0.2s ease-in-out;
}
.navbar.navbar-light .navbar-brand.social a:hover i::before {
  color: var(--global-theme-color);
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: var(--global-text-color);
  border-radius: 1px;
  margin-bottom: 4px;
  transition: all 0.2s;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

#light-toggle {
  padding: 0;
  border: 0;
  background-color: inherit;
  color: var(--global-text-color);
}
#light-toggle:hover {
  color: var(--global-hover-color);
}

.social {
  text-align: center;
}
.social .contact-icons {
  font-size: 2rem;
}
.social .contact-icons a i::before {
  color: var(--global-text-color);
  transition-property: all 0.2s ease-in-out;
}
.social .contact-icons a:hover i::before {
  color: var(--global-theme-color);
}
.social .contact-note {
  font-size: 0.8rem;
}

footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
}
footer.fixed-bottom .container {
  color: var(--global-footer-text-color);
  padding-top: 9px;
  padding-bottom: 8px;
}
footer.fixed-bottom a {
  color: var(--global-footer-link-color);
}
footer.fixed-bottom a:hover {
  color: var(--global-theme-color);
  text-decoration: none;
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}

.cv {
  margin-bottom: 40px;
}
.cv .card {
  background-color: var(--global-card-bg-color);
  border: 1px solid var(--global-divider-color);
}
.cv .card .list-group-item {
  background-color: inherit;
  border-color: var(--global-divider-color);
}
.cv .card .list-group-item .badge {
  color: var(--global-card-bg-color) !important;
  background-color: var(--global-theme-color) !important;
}

@media (min-width: 768px) {
  .repo {
    max-width: 50%;
  }
}
.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.header-bar h1 {
  color: var(--global-theme-color);
  font-size: 5rem;
}

.tag-list {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 1rem;
}
.tag-list ul {
  justify-content: center;
  display: flow-root;
}
.tag-list ul p, .tag-list ul li {
  list-style: none;
  display: inline-block;
  padding: 1rem 0.5rem;
  color: var(--global-text-color-light);
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
.post-list li {
  border-bottom: 1px solid var(--global-divider-color);
  list-style: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.post-list li .post-meta {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  margin-bottom: 0;
}
.post-list li .post-tags {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0;
}
.post-list li a {
  color: var(--global-text-color);
  text-decoration: none;
}
.post-list li a:hover {
  color: var(--global-theme-color);
}

.pagination .page-item .page-link {
  color: var(--global-text-color);
}
.pagination .page-item .page-link:hover {
  color: #000000;
}
.pagination .page-item.active .page-link {
  color: #ffffff;
  background-color: var(--global-theme-color);
}
.pagination .page-item.active .page-link:hover {
  background-color: var(--global-theme-color);
}

.distill a:hover {
  border-bottom-color: var(--global-theme-color);
  text-decoration: none;
}

.projects a {
  text-decoration: none;
}
.projects a:hover .card-title {
  color: var(--global-theme-color);
}
.projects .card img {
  width: 100%;
}
.projects .card-item {
  width: auto;
  margin-bottom: 10px;
}
.projects .card-item .row {
  display: flex;
  align-items: center;
}
.projects .grid-sizer, .projects .grid-item {
  width: 250px;
  margin-bottom: 10px;
}
.projects h2.category {
  color: var(--global-divider-color);
  border-bottom: 1px solid var(--global-divider-color);
  padding-top: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: right;
}

.publications ol.bibliography {
  list-style: none;
}

.publications, .publications-cited {
  margin-top: 2rem;
}
.publications h1, .publications-cited h1 {
  color: var(--global-theme-color);
  font-size: 2rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.publications h2, .publications-cited h2 {
  margin-bottom: 1rem;
}
.publications h2 span, .publications-cited h2 span {
  font-size: 1.5rem;
}
.publications h2.year, .publications-cited h2.year {
  color: var(--global-year-color);
  border-top: 1px solid var(--global-divider-color);
  padding-top: 1rem;
  margin-top: 2rem;
  margin-left: -2rem;
  text-align: right;
}
.publications h2.bibliography, .publications-cited h2.bibliography {
  color: var(--global-year-color);
  border-top: 1px solid var(--global-divider-color);
  padding-top: 1rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  text-align: right;
}
.publications ul.presented-at.single, .publications-cited ul.presented-at.single {
  columns: 1;
}
.publications ul.presented-at, .publications-cited ul.presented-at {
  columns: 2;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0rem;
}
.publications ul.presented-at .single, .publications-cited ul.presented-at .single {
  columns: 1;
}
.publications ul.presented-at li, .publications-cited ul.presented-at li {
  font-size: 0.75rem;
}
.publications ul.presented-at li:not(:last-child), .publications-cited ul.presented-at li:not(:last-child) {
  margin-bottom: 0px;
}
.publications ul.presented-at li:not(:first-child), .publications-cited ul.presented-at li:not(:first-child) {
  margin-top: 0px;
}
.publications ol.bibliography, .publications-cited ol.bibliography {
  padding: 0;
  margin-top: 0;
}
.publications ol.bibliography li.recognition, .publications-cited ol.bibliography li.recognition {
  margin-bottom: 0rem;
}
.publications ol.bibliography li, .publications-cited ol.bibliography li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
}
.publications ol.bibliography li .preview, .publications-cited ol.bibliography li .preview {
  width: 100%;
  min-width: 80px;
  max-width: 200px;
  margin-right: 1.5rem;
}
.publications ol.bibliography li .abbr, .publications-cited ol.bibliography li .abbr {
  height: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
}
.publications ol.bibliography li .abbr abbr, .publications-cited ol.bibliography li .abbr abbr {
  display: inline-block;
  background-color: var(--global-code-bg-color);
  color: var(--global-text-color) !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.publications ol.bibliography li .abbr abbr a, .publications-cited ol.bibliography li .abbr abbr a {
  color: inherit;
}
.publications ol.bibliography li .abbr abbr a:hover, .publications-cited ol.bibliography li .abbr abbr a:hover {
  text-decoration: none;
}
.publications ol.bibliography li .abbr .award, .publications-cited ol.bibliography li .abbr .award {
  color: var(--global-theme-color) !important;
  border: 1px solid var(--global-theme-color);
}
.publications ol.bibliography li .title, .publications-cited ol.bibliography li .title {
  font-weight: bolder;
}
.publications ol.bibliography li .author a, .publications-cited ol.bibliography li .author a {
  border-bottom: 1px dashed var(--global-theme-color);
}
.publications ol.bibliography li .author a:hover, .publications-cited ol.bibliography li .author a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}
.publications ol.bibliography li .author > em, .publications-cited ol.bibliography li .author > em {
  border-bottom: 1px solid;
  font-style: normal;
}
.publications ol.bibliography li .author > span.more-authors, .publications-cited ol.bibliography li .author > span.more-authors {
  color: var(--global-text-color-light);
  border-bottom: 1px dashed var(--global-text-color-light);
  cursor: pointer;
}
.publications ol.bibliography li .author > span.more-authors:hover, .publications-cited ol.bibliography li .author > span.more-authors:hover {
  color: var(--global-text-color);
  border-bottom: 1px dashed var(--global-text-color);
}
.publications ol.bibliography li .links a.btn, .publications-cited ol.bibliography li .links a.btn {
  color: var(--global-text-color);
  border: 1px solid var(--global-text-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.publications ol.bibliography li .links a.btn:hover, .publications-cited ol.bibliography li .links a.btn:hover {
  color: var(--global-theme-color);
  border-color: var(--global-theme-color);
}
.publications ol.bibliography li .badges span, .publications-cited ol.bibliography li .badges span {
  display: inline-block;
  color: #000000;
  height: 100%;
  padding-left: 0.5rem;
  vertical-align: middle;
}
.publications ol.bibliography li .badges span:hover, .publications-cited ol.bibliography li .badges span:hover {
  text-decoration: underline;
}
.publications ol.bibliography li .hidden, .publications-cited ol.bibliography li .hidden {
  font-size: 0.875rem;
  max-height: 0px;
  overflow: hidden;
  text-align: justify;
  transition-property: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}
.publications ol.bibliography li .hidden p, .publications-cited ol.bibliography li .hidden p {
  line-height: 1.4em;
  margin: 10px;
}
.publications ol.bibliography li .hidden pre, .publications-cited ol.bibliography li .hidden pre {
  font-size: 1em;
  line-height: 1.4em;
  padding: 10px;
}
.publications ol.bibliography li .hidden.open, .publications-cited ol.bibliography li .hidden.open {
  max-height: 100em;
  transition-property: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}
.publications ol.bibliography li div.abstract.hidden, .publications-cited ol.bibliography li div.abstract.hidden {
  border: dashed 1px var(--global-bg-color);
}
.publications ol.bibliography li div.abstract.hidden.open, .publications-cited ol.bibliography li div.abstract.hidden.open {
  border-color: var(--global-text-color);
}

figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
}
pre pre, pre code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.post .post-meta {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  margin-bottom: 0;
}
.post .post-tags {
  color: var(--global-text-color-light);
  font-size: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}
.post .post-tags a {
  color: var(--global-text-color-light);
  text-decoration: none;
}
.post .post-tags a:hover {
  color: var(--global-theme-color);
}
.post .post-content blockquote {
  border-left: 5px solid var(--global-theme-color);
  padding: 8px;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 10;
  /* Dimensions */
  width: 100%;
  height: 1px;
  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of the default border in Firefox/Opera. */
  border: none;
  /* Progress bar container for Firefox/IE10  */
  background-color: transparent;
  /* Progress bar value for IE10  */
  color: var(--global-theme-color);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: var(--global-theme-color);
}

progress::-moz-progress-bar {
  background-color: var(--global-theme-color);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 56px;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background-color: var(--global-theme-color);
  width: 0%;
  display: block;
  height: inherit;
}

/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/
d-byline {
  border-top-color: var(--global-divider-color) !important;
}

d-byline h3 {
  color: var(--global-text-color) !important;
}

d-byline a, d-article d-byline a {
  color: var(--global-text-color) !important;
}
d-byline a:hover, d-article d-byline a:hover {
  color: var(--global-hover-color) !important;
}

d-article {
  border-top-color: var(--global-divider-color) !important;
}
d-article p, d-article h1, d-article h2, d-article h3, d-article h4, d-article h5, d-article h6, d-article li, d-article table {
  color: var(--global-text-color) !important;
}
d-article h1, d-article h2, d-article hr, d-article table, d-article table th, d-article table td {
  border-bottom-color: var(--global-divider-color) !important;
}
d-article a {
  color: var(--global-theme-color) !important;
}
d-article a:hover {
  color: var(--global-theme-color) !important;
}
d-article b i {
  display: inline;
}
d-article d-contents {
  align-self: start;
  grid-column: 1/4;
  grid-row: auto/span 4;
  justify-self: end;
  margin-top: 0em;
  padding-left: 2em;
  padding-right: 3em;
  border-right: 1px solid var(--global-divider-color);
  width: max(70%, 300px);
  margin-right: 0px;
  margin-top: 0em;
  display: grid;
  grid-template-columns: minmax(8px, 1fr) [toc] auto minmax(8px, 1fr) [toc-line] 1px minmax(32px, 2fr);
}
d-article d-contents nav {
  grid-column: toc;
}
d-article d-contents nav a {
  border-bottom: none !important;
}
d-article d-contents nav a:hover {
  border-bottom: 1px solid var(--global-text-color) !important;
}
d-article d-contents nav h3 {
  margin-top: 0;
  margin-bottom: 1em;
}
d-article d-contents nav div {
  display: block;
  outline: none;
  margin-bottom: 0.8em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
d-article d-contents nav ul {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 6px;
  list-style-type: none;
}
d-article d-contents nav ul li {
  margin-bottom: 0.25em;
}
d-article d-contents .figcaption {
  line-height: 1.4em;
}
d-article d-contents toc-line {
  border-right: 1px solid var(--global-divider-color);
  grid-column: toc-line;
}
d-article d-footnote {
  scroll-margin-top: 66px;
}

d-appendix {
  border-top-color: var(--global-divider-color) !important;
  color: var(--global-distill-app-color) !important;
}
d-appendix h3, d-appendix li, d-appendix span {
  color: var(--global-distill-app-color) !important;
}
d-appendix a, d-appendix a.footnote-backlink {
  color: var(--global-distill-app-color) !important;
}
d-appendix a:hover, d-appendix a.footnote-backlink:hover {
  color: var(--global-hover-color) !important;
}

@media (max-width: 1024px) {
  d-article d-contents {
    display: block;
    grid-column-start: 2;
    grid-column-end: -2;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    width: 100%;
    border: 1px solid var(--global-divider-color);
  }
  d-article d-contents nav {
    grid-column: none;
  }
}

/*# sourceMappingURL=main.css.map */